  
{% extends "base.html" %}
{% block title %}Analizador{% endblock %}

{% block content %}

<div style="padding-left: 2%; padding-right: 2%;">
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <div class="row">
            <div class="col-6">
                <h4 class="text-muted">Entrada</h4>
                <form method="POST" action="#">
                    <textarea class="codemirror-textarea form-control" name="codigo" id="entrada" cols="50" rows="100">{{entrada}}</textarea>
                    <div class="" style="text-align: center; padding-top: 2%;">
                        <button type="submit" class="btn btn-secondary" style="width: 20rem;" name = "nombre" value ="traducir">Traducir</button>
                    </div>
                </form>
            </div>
            <div class="col-6">
                        <h4 class="text-muted">Salida</h4>
                        <form method= "POST" action ="#">
                        <textarea class="codemirror-textarea form-control" name="salida" id="salida" cols="50" rows="100">{{salida}}</textarea>
                        <div class="" style="text-align: center; padding-top: 2%;">
                            <button type="submit" class="btn btn-success" style="width: 20rem;" name = "nombre" value = "om">Optimizar por mirilla </button>
                            <button type="submit" class="btn btn-primary" style="width: 20rem;" name = "nombre" value = "ob" >Optimizar por bloque </button>
                        </div>
                    </form>
            </div>
        </div>
        <h4 class="text-muted" style="border-top: 2%;">Consola</h4>
        <textarea class="codemirror-textarea form-control" name="consola" id="consola" cols="40" rows="10" readonly>{{consola}}</textarea>
        </div>
</div>
{% endblock %}