  
{% extends "base.html" %}
{% block title %}Analizador{% endblock %}

{% block content %}

<div class="container" style="padding-top: 10%;">
    <div class="card text-center">
        <div class="card-header">
          JOLC
        </div>
        <div class="card-body">
          <h4 class="card-title">Reportes</h4>
          <br>
          <a href="/AST" class="btn btn-outline-secondary" style="width: 10rem;">AST</a>
          <a href="/TablaSimbolos" class="btn btn-outline-secondary" style="width: 10rem;">Tabla de símbolos</a>
          <a href="/Errores" class="btn btn-outline-secondary" style="width: 10rem;">Errores</a>
          <a href="/Optimizacion" class="btn btn-outline-secondary" style="width: 10rem;">Optimización</a>
        </div>
        <div class="card-footer text-muted">
          Segundo semestre 2021
        </div>
      </div>
     
</div>

{% endblock %}